
/* HERO */

/* Title spacing */

/* Subtitle */

/* Responsive */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 60px 16px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__subtitle {
    font-size: 1.05rem;
  }
}